<header class="container-fluid">
  <nav id="nav" class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand px-3" href="" [routerLink]="['/']"><img width="50" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      ng-Mini-Netflix
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbar">
      <ul class="navbar-nav mt-2 mt-lg-0 p-4">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="" [routerLink]="['/movies']">All Movies</a>
        </li>
        <!-- <li *ngIf="!isAuthenticated" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="" [routerLink]="['/register']">Register</a>
        </li> -->
      </ul>
      <div class="navbar-header navbar-right ml-auto">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="isAuthenticated" class="nav-link" href="" (click)="logout()"
              [routerLinkActive]="['active']">logout</a>
            <a *ngIf="!isAuthenticated" [routerLink]="['/login']">Login</a>
            <a *ngIf="isAuthenticated" [routerLink]="['/profile']" routerLinkActive="active">Welcome
              {{ currentUser.userName }}</a>
          </li>
        </ul>
      </div>
      <form id="searchForm" (ngSubmit)="searchMovies(searchTerm)" class="navbar-form navbar-right">
        <div class="form-group">
          <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control"
            placeholder="Search Movies">
        </div>
        <button class="btn btn-default" modal-trigger="searchResults">
          Search
        </button>
      </form>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-sm-0" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
      </form> -->
    </div>
  </nav>
</header>