/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2b3e50 !important;
  color: #fff !important;
}

a, h1, h2, h3 {
  color: #df691a !important;
}